#jeux {
    width: 100%;
}

h3 {
    font-size: 50px;
    margin: 20px 0 10px 10%;
}
hr {
    background: crimson;
    border: 2px solid black;
    margin-top: 50px;
}


#nos-jeux {
    font-size: 30px;
    width: 40%;
    margin-left: 60%;
    display: flex;
    flex-wrap: wrap;
}

#nos-jeux > a {
    color: black;
    text-decoration: underline;
}

#nos-jeux > a:hover {
    color: goldenrod;
}