footer {
    margin: 20px auto;
    padding: 30px 10px;
    background: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-direction: column;
    color: white;
}

footer > article > h3,
footer > article >h2 {
    color: goldenrod;
    font-size: 25px;
    text-align: center;
}

footer > article {
    margin: 40px 0;
}

footer > article > section > p {
font-size: 17px;
width: 400px;
}

#new , #lien{
display: flex;
justify-content: space-around;
}

#new > section > button {
background: white;
color: black;
padding: 10px;
border-radius:20%;
}

#new > section > button:hover {
background: black;
color: white;
border: 1px solid goldenrod;
}

#lien > ul {
display: flex;
flex-direction: column;
}

#lien > ul > li {
border-bottom: solid white 1px;
font-size: 30px;
padding: 10px;
}

#lien > ul > li > a {
color: white;
}

#lien > ul > li:hover > a {
color: goldenrod;
}
#lien > ul > li:hover {
border-bottom: goldenrod solid 1px;
}

#rec {
display: flex;
justify-content: space-between;
align-items: center;
}

#rec > h3 {
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#rec > h3:hover {
    background: black;
    color: white;
    border: 1px solid goldenrod;
}

#rec > ul {
display: flex;
width: 80%;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

#rec > ul > li {
    font-size: 15px;
}